<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{siteTitle}}</title>
    <!-- seo metatags -->
    <meta name="title" content="योजना तथा वास्तुकला विद्यालय विजयवाड़ा | School of Planning And Architecture Vijayawada">
    <meta name="description" content="School of Planning and Architecture, Vijayawada, (in short SPAV), was established on July 7, 2008 by the Ministry of Human Resource Development (MoE), Government of India, as an autonomous institution. SPAV is a premier Centrally Funded Technical Institution (CFTI) directly under the MoE, for excellence in the fields of Planning and Architecture. Although in its nascent stage, with experienced faculty and guest lectures by eminent visiting faculty and industry experts from all over the country, the quality of education imparted and its focus on research puts SPAV in the league of leading institutes in the country.">
    <meta name="keywords" content="SPAV, SPA, Vijayawada, योजना तथा वास्तुकला विद्यालय विजयवाड़ा,School of Planning And Architecture, Vijayawada, Best Planning Collage in India, Best Architecture Collage In India, 	Bachelor of Architecture,	Bachelor of Planning,Master of Architecture (Sustainable Architecture),	Master of Architecture (Landscape Architecture),	Master of Architecture (Architectural Conservation),	Master of Building Engineering and Management ,	Master of Planning ( Environmental Planning and Management),	Master of Planning (Urban and Regional Planning),Master of Planning (Transport Planning),Doctoral Programme in Architecture,Doctoral Programme in Planning">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="revisit-after" content="30 days">
    <meta name="author" content="School of Planning and Architecture, Vijayawada">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- custom css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- google fonts cdn -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
  
    <style>
      .card{
        border: transparent;
      }
      p{
        text-align: justify;
      }
      a:link{
        text-decoration: none;
      }
      body{
        font-family: Poppins;
      }
      .nav-link{
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <header>
        <div class="container-fluid ">
          <div class="d-flex">
              <div class="p-2 flex-grow-1"><i class="bi bi-clock-fill"></i><strong>{{current_datetime}}</strong></div>
              <div class="p-2 bd-highlight"><a href=".."><i class="bi bi-house-fill"></i></a></div>
              <div class="p-2 bd-highlight"><a href="http://10.10.100.5:8090/httpclient.html" target="_blank"><i class="bi bi-wifi"></i></div>
              <div class="p-2 bd-highlight"><i class="bi bi-twitter"></i></div>
              <div class="p-2 bd-highlight"><a href="https://www.youtube.com/c/SPAVIJAYAWADAOFFICIAL" target="_blank"><i class="bi bi-youtube"></i></a></div>
              <div class="p-2 bd-highlight"><i class="bi bi-person-rolodex"></i></div>
              <div class="p-2 bd-highlight"><a href="https://email.gov.in/" target="_blank"><i class="bi bi-envelope-fill"></i></a></div>
            </div>
        </div>
        <br>
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-6"><a href=".."><img class="img-fluid" src="{% static 'assets/spav_logo_main.jpg' %}" alt=""></a></div>
            <div class="col-sm-6">
              <form method="post" action="/search" class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="query" id="search">
                <button class="btn btn-outline-info" type="submit">Search</button>
              </form>
            </div>
          </div>
        </div>
        <br>
              <nav class="navbar navbar-expand-lg navbar-light bg-warning">
                  <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            About
                          </a>
                          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="about/">About SPAV</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="https://www.spav.ac.in/campus1.html">Campus Highlights</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="">Achivements</a></li>
                          </ul>
                        </li>
                      </ul>
                      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Institute
                          </a>
                          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="https://www.spav.ac.in/vision.html">Acts and Statutes</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="https://www.spav.ac.in/about.html">Chairperson</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="https://www.spav.ac.in/campus1.html">Director</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="">Board of Governors</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="">Finance Committee</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="">BWC</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="">Senate</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="">Deans</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="">Committees</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="">Administration</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="">Faculty in Charge</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="convocation/">Convocation</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="">Anual Report</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="">Minutes of Meeting</a></li>
                          </ul>
                        </li>
                      </ul>
                      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Academics
                          </a>
                          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="https://www.spav.ac.in/spavadmissions.html">Admission</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="https://www.spav.ac.in/courseoffered.html">Course Offered</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="https://www.spav.ac.in/exams.html">Examination</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="https://www.spav.ac.in/feesstructure.html">Fee Structure</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="https://www.spav.ac.in/academiccalendar.html">Academic Calendar</a></li>
                          </ul>
                        </li>
                      </ul>
                      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Departments
                          </a>
                          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="department-of-planning/" target="_blank">Planning</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="department-of-architecture/" target="_blank">Architecture</a></li>
                          </ul>
                        </li>
                      </ul>
                      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Central Facilities
                          </a>
                          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="library.html">Central Library</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="computer_centre.html">Computer Center</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="laboratory.html">Laboratories</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="health.html">Healthcare Center</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="guest.html">Guest House</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="security.html">Security</a></li>
                          </ul>
                        </li>
                      </ul>
                      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Research
                          </a>
                          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="rprojects.html">Research Project</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="icc.html">Institute Innovation Cell</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="cprojects.html">Consultancy Projects</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="spav_journal.html">IJPAS</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="publications.htmll">Publications</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="mous.html">MOU's</a></li>
                          </ul>
                        </li>
                      </ul>
                      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Collabration
                          </a>
                          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="cii.html">CII</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="alumni.html">Alumni</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="nss.html">NSS</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="tp.html">Tranning and Placements</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="confereces.html">Conferences</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="webinar.html">Seminar and Webinars</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="ws.html">Workshops & FDP</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="uba.html">UBA</a></li>
                          </ul>
                        </li>
                      </ul>
                      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Student's Corner
                          </a>
                          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="lifespav.html">Life @SPAV</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="clubs.html">Clubs</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="studentactivities.html">Activities</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="spav_hostel.html">Hostel</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="sports.html">Sports</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="snotice.html">Noticeboard</a></li>
                          </ul>
                        </li>
                      </ul>
                      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Gallery
                          </a>
                          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                           
                          </ul>
                        </li>
                      </ul>
                      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Contact
                          </a>
                          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <li><a class="dropdown-item" href="contact.html">Contact</a></li>
                              <li><hr class="dropdown-divider"></li>
                              <li><a class="dropdown-item" href="contact.html">Feedback</a></li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </div>
                </nav> 
      </header>
    </div>