*{margin: 0%; padding: 0%; box-sizing: border-box;}

/* link colour rules */
a:link {
    color: 	#0645AD;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: #0B0080;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: #038b25;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }
/* link colour rules */

.dropdown:hover .dropdown-menu{
    display: block;
}
.hover:hover{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
